*,
*::after,
*::before {
	box-sizing: border-box;
}
*:focus:not(:focus-visible) {
	outline: none;
}
html,
body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-size: 62.5%;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	color: #fff;
}

img {
	width: 100%;
	height: 100%;
}

.container {
	max-width: 134.5rem;
	margin: 0 auto;
}

/*сетка*/
@media (max-width: 108em) {
	html {
		font-size: 9px;
	}
}

@media (max-width: 105em) {
	html {
		font-size: 8.75px;
	}
}

@media (max-width: 91.5em) {
	html {
		font-size: 7.9px;
	}
}

@media (max-width: 91em) {
	html {
		font-size: 8.4px;
	}
}

@media (max-width: 90em) {
	html {
		font-size: 7.9px;
	}
}

@media (max-width: 80em) {
	html {
		font-size: 7.2px;
	}
}

@media (max-width: 72em) {
	html {
		font-size: 6.5px;
	}
}

@media (max-width: 64em) {
	html {
		font-size: 5.5px;
	}
}

@media (max-width: 44em) {
	html {
		font-size: 9px;
	}
}

@media (max-width: 38em) {
	html {
		font-size: 8px;
	}
}

@media (max-width: 34em) {
	html {
		font-size: 7px;
	}
}

@media (max-width: 30em) {
	html {
		font-size: 6px;
	}
}

@media (max-width: 26em) {
	html {
		font-size: 4.5px;
	}
}

@media (max-width: 21em) {
	html {
		font-size: 4.4px;
	}
}
/*сетка*/

/* header */
.header {
	position: absolute;
	top: 6.4rem;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100%;
}
.header__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__menu {
	display: flex;
}
.header__burger {
	display: none;
}

.header__logo img {
	width: 7.9rem;
	height: 2.9rem;
	margin-right: 4rem;
}
.header__nav {
	padding-left: 0;
	margin-right: auto;
}
.header__list {
	padding: 0;
	display: flex;
	align-items: center;
	list-style: none;
}

.header__item:not(:last-child) {
	margin-right: 2.4rem;
}
.header__link {
	color: inherit;
	font-size: 1.4rem;
	text-decoration: none;
	line-height: 1.14rem;
}

.social__link:not(:last-child) {
	margin-right: 2rem;
}
.social__icon {
	width: 1.7rem;
	height: 1.4rem;
}
/* main */
.main {
	flex: 1;
	padding-top: 18.7rem;
	padding-bottom: 5rem;
	background: url("../images/background.jpg") center top/cover no-repeat;
}

.main__rating-title {
	font-size: 1.4rem;
	margin-bottom: 1.6rem;
}

.main__rating-wrap,
.main__rating-stars {
	display: flex;
	align-items: center;
}

.main__rating-star_active,
.main__rating-star:not(:last-child) {
	margin-right: 0.4rem;
}
.main__rating-star_active,
.main__rating-star {
	cursor: pointer;
	width: 1.2rem;
	height: 1.2rem;
}
.main__rating-number {
	margin-left: 0.9rem;
	font-size: 1.2rem;
}
.main__header {
	margin-top: 1rem;
	font-family: "Museo Sans";
	font-size: 7.6rem;
	margin-bottom: 0;
}
.main__wrap {
	display: flex;
	align-items: center;
}
.main__descr {
	margin-top: 0.8rem;
	max-width: 52.8rem;
	font-size: 1.4rem;
	line-height: 2.1rem;
}

.main__btn-play {
	margin-left: 33.1rem;
	position: relative;
	width: 10rem;
	height: 10rem;
	border: none;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.75);
	box-shadow: 0 0 0 1.6rem rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
.main__img-play {
	position: absolute;
	top: 50%;
	left: 55%;
	transform: translate(-55%, -50%);
	height: 3.2rem;
	width: 4rem;
}

.main__button {
	display: inline-block;
	margin-top: 4.1rem;
	margin-bottom: 8.8rem;
	background-color: #151515;
	padding: 2.2rem 7.2rem;
	border-radius: 0.8rem;
	font-size: 1.4rem;
	color: inherit;
	text-decoration: none;
}
/* slider */
.main__slider-wrap {
	max-width: 41.6rem;
	display: flex;
	align-items: center;
}

.main__slider-slide {
	position: relative;
	width: 16.4rem;
	height: 10.5rem;
	border-radius: 0.8rem;
	overflow: hidden;
}
.main__slider-slide img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.main__slider-slide span {
	position: absolute;
	bottom: 0.6rem;
	left: 1.4rem;
	font-size: 1rem;
}
.main__slider-next {
	width: 3.2rem;
	height: 2.2rem;
	flex-shrink: 0;
	margin-left: 2.8rem;
	cursor: pointer;
}
/* footer */
.footer {
	padding: 2rem 0;
	background-color: #000;
}

.footer_wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__copyrite {
	font-size: 1.4rem;
	color: #686767;
}

.footer__menu {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}
.footer__menu li:not(:last-child) {
	margin-right: 2.5rem;
}
.footer__menu li a {
	font-size: 1.4rem;
	text-decoration: none;
	color: #686767;
}

/* Media */

@media (max-width: 48em) {
	html {
		font-size: 10px;
	}
	.container {
		padding: 0 1.5rem;
	}
	.header {
		top: 0;
	}
	.header__wrap,
	.header__menu,
	.header__list {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	/* burger */
	.header__wrap {
		/* display: none; */
		position: relative;
		right: 100%;
		background-color: #151515;
		width: 69.4%;
		padding: 40px 0;
		transition: all 0.5s ease;
	}
	.header__wrap_active {
		display: flex;
		position: absolute;
		right: 0;
		top: 0;
	}
	.header__burger {
		display: block;
		position: absolute;
		top: 4.5rem;
		right: 2rem;
		width: 3rem;
		height: 3rem;
	}
	.header__burger-item {
		display: block;
		width: 100%;
		height: 0.3rem;
		background-color: #fff;
		margin-bottom: 0.7rem;
		transition: all 0.5s ease;
	}

	.header__burger-item_active:nth-child(1) {
		transform: translateY(0.5rem) rotate(-45deg);
	}
	.header__burger-item_active:nth-child(2) {
		display: none;
	}
	.header__burger-item_active:nth-child(3) {
		transform: translateY(-0.5rem) rotate(45deg);
	}
	/* header menu */
	.header__social {
		margin-bottom: 2.2rem;
	}
	.header__nav {
		margin-right: 0;
	}
	.header__logo img {
		margin-right: 0;
		margin-bottom: 3.4rem;
	}
	.header__item:not(:last-child) {
		margin-right: 0;
		margin-bottom: 1.7rem;
	}
	.header__menu-item-1 {
		order: 1;
	}
	.header__menu-item-2 {
		order: 3;
	}
	.header__menu-item-3 {
		order: 2;
	}
	/* main */
	.main {
		background-position-x: 66%;
	}
	.main__wrap {
		flex-direction: column;
		align-items: flex-start;
	}
	.main__rating-star_active,
	.main__rating-star {
		width: 2rem;
		height: 2rem;
	}
	.main__descr {
		margin-bottom: 4rem;
	}
	.main__descr,
	.main__rating-title {
		font-size: 1.6rem;
	}
	.main__btn-play {
		margin: 2rem;
	}
	.main__slider-next {
		display: none;
	}
	/* footer */
	.footer_wrap {
		flex-direction: column;
	}
	.footer__copyrite {
		margin-bottom: 1rem;
	}
}
